<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Users</title>
</head>
<body>
    <table style="width: auto">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>AGE</th>
        </tr>
<!--        <tr th:each = "dbuser: ${com.project.doit.DBUser}" >-->
<!--            <td th:text="${com.project.doit.DBUser.id}"></td>-->
<!--            <td th:text="${com.project.doit.DBUser.userName}"></td>-->
<!--            <td th:text="${com.project.doit.DBUser.age}"></td>-->
<!--        </tr>-->
    </table>
</body>
</html>